<div>
  <div style="text-align:center;  padding-top: 20px;  padding-bottom: 10px;">
    <h4>Sales Transactions</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Coupon</th>
        <th scope="col">Partner</th>
        <th scope="col">Original Price($)</th>
        <th scope="col">Discount Amt($)</th>
        <th scope="col">Sales Amt($)</th>
        <th scope="col">Rev Share ($)</th>
        <th scope="col">Settlement Amt($)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let st of salesTransaction; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ st.coupon.customer.name }}</td>
        <td>{{ st.coupon.name }}</td>
        <td>{{ st.partner.name }}</td>
        <td>{{ st.originalPrice }}</td>
        <td>{{ st.coupon.discountAmount }}</td>
        <td>{{ st.salesAmount }}</td>
        <td>{{ st.revenueShareAmount }}</td>
        <td>{{ st.settlementAmount }}</td>
      </tr>
    </tbody>
  </table>
</div>
